.table-content .thead {
    padding: 10px;
    background: #cdcdcd;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
}

.table-content .thead > div > div {
    border-right: 1px solid var(--bs-body-color);
}

.table-content .thead > div > div:last-child {
    border: none;
}
.table-content .tbody {
    margin-top: 20px;
}

.table-content .tbody p {
    margin-bottom: 0px;
}

.table-content .tbody > div {
    padding: 10px;
}

.table-content .tbody > div:nth-of-type(odd) {
    background: #ededed;
}
.table-content .tbody > div > div {
    display: flex;
    align-items: center;
}